{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    I'm a first year PhD student at <a href="https://cs.uiowa.edu/">The University of Iowa</a> and being advised
  by <a href="https://sparta.cs.uiowa.edu/people/rishab/">Dr. Rishab Nithyanand</a>
  <br><br>
  I've been interested in Privacy, Network Security, Anonymity and Internet Measurements since quite a while and my current 
  projects are focused on <a href="https://www.torproject.org/.">TOR</a>. 
  <br><br>
  Previously, I've worked in the TPI Lab at LUMS under the supervision of 
  <a href="https://lums.edu.pk/lums_employee/422">Dr. Fareed Zaffar</a> on a couple of projects.
  <a href="https://www.linkedin.com/in/example/">View My LinkedIn Profile</a> 
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
